.homeSection {
  background-color: #f5f5f5;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  color: #333;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px #ccc;

  .picOfMe {
    margin-bottom: 20px;
    border-radius: 50%;
    border: 1px solid red;
    animation: movePic 10s ease-in-out alternate infinite;
  }
}

@keyframes movePic {
  0% {
    // transform:  translateX(-600px);
    transform:  translateX(0px) rotate(-720deg);
  }

  25% {
    // transform: rotate(-360deg);
  }

  50% {
  }

  100% {
    opacity: 1;
    transform: translateX(300px) rotate(0deg);
  }
}